:root {
  font-size: 10px;
}

html {
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
}

body {
}

main {
  display: block;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
  text-decoration: none;
  vertical-align: top;
  background: transparent;
}

mark {
  background-color: transparent;
}
