* {
  margin: 0;
  padding: 0; }
  *, *:before, *:after {
    box-sizing: border-box; }

:root {
  font-size: 10px; }

html {
  color: #000;
  font-family: Arial, sans-serif; }

main {
  display: block; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
  text-decoration: none;
  vertical-align: top;
  background: transparent; }

mark {
  background-color: transparent; }

.container {
  height: 0; }

.main {
  height: 0; }

.scrollable {
  position: absolute;
  right: 0;
  overflow-y: auto; }
  @media (min-width: 960px) {
    .scrollable {
      top: 0;
      width: 50%;
      height: 100%; } }
  @media (max-width: 959px) {
    .scrollable {
      top: 50%;
      width: 100vw;
      height: 50%; } }
  .section-3 .scrollable {
    background-color: #f7d600; }
  .section-4 .scrollable {
    background-color: #96d74e; }

.scrollable__inner {
  padding: 20px; }
  .scrollable__inner img {
    width: 100%;
    height: auto; }
  .scrollable__inner p {
    margin: 1em 0; }
    @media (min-width: 960px) {
      .scrollable__inner p {
        font-size: 1.5vw; } }
    @media (max-width: 959px) {
      .scrollable__inner p {
        font-size: 4vw; } }

.scrollhint {
  pointer-events: none;
  position: absolute;
  right: 0; }
  @media (min-width: 960px) {
    .scrollhint {
      top: 0;
      width: 50%;
      height: 100%; } }
  @media (max-width: 959px) {
    .scrollhint {
      bottom: 0;
      width: 100vw;
      height: 50%; } }

.scrollhint__top, .scrollhint__bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px; }

.scrollhint__top {
  opacity: 0;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.2952) 19%, rgba(0,0,0, 0.2164) 34%, rgba(0,0,0, 0.1528) 47%, rgba(0,0,0, 0.1112) 56.5%, rgba(0,0,0, 0.0776) 65%, rgba(0,0,0, 0.0504) 73%, rgba(0,0,0, 0.03) 80.2%, rgba(0,0,0, 0.0168) 86.1%, rgba(0,0,0, 0.0084) 91%, rgba(0,0,0, 0.0032) 95.2%, rgba(0,0,0, 0.0008) 98.2%, rgba(0,0,0, 0) 100%); }

.scrollhint__bottom {
  opacity: 1;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.2952) 19%, rgba(0,0,0, 0.2164) 34%, rgba(0,0,0, 0.1528) 47%, rgba(0,0,0, 0.1112) 56.5%, rgba(0,0,0, 0.0776) 65%, rgba(0,0,0, 0.0504) 73%, rgba(0,0,0, 0.03) 80.2%, rgba(0,0,0, 0.0168) 86.1%, rgba(0,0,0, 0.0084) 91%, rgba(0,0,0, 0.0032) 95.2%, rgba(0,0,0, 0.0008) 98.2%, rgba(0,0,0, 0) 100%); }

.section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform .25s ease; }
  .section.section-1 {
    background-image: url(https://picsum.photos/960/540/?random); }
  .section.section-2 {
    background-image: url(https://picsum.photos/961/540/?random); }
  .section.section-3 {
    background-image: url(https://picsum.photos/960/541/?random); }
  .section.section-4 {
    background-image: url(https://picsum.photos/959/540/?random); }
  .section.section-5 {
    background-image: url(https://picsum.photos/960/539/?random); }
  .is-1 .section.section-1,
  .is-2 .section.section-2,
  .is-3 .section.section-3,
  .is-4 .section.section-4,
  .is-5 .section.section-5 {
    transform: translate3d(0, 0, 0); }
  .is-2 .section.section-1,
  .is-3 .section.section-1,
  .is-4 .section.section-1,
  .is-5 .section.section-1,
  .is-3 .section.section-2,
  .is-4 .section.section-2,
  .is-5 .section.section-2,
  .is-4 .section.section-3,
  .is-5 .section.section-3,
  .is-5 .section.section-4 {
    transform: translate3d(0, -100%, 0); }
  .section > h1 {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .section > p {
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    @media (min-width: 960px) {
      .section > p.split {
        font-size: 4vw;
        width: 100%; } }
    .section > p strong {
      font-size: 7vw;
      font-weight: bold; }
    .section > p a {
      color: #fff;
      font-size: 2.5vw;
      font-weight: normal; }
