doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Scroll in Scroll Jack
    meta(name="viewport", content="width=device-width")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="style/style.scss")
    script(src="script/script.js")
  body.is-1
    .container
      .section.section-1
        h1 Scroll in Scroll Jack
      main.main
        .section.section-2
          p WHY ScrollJack?
        .section.section-3
          p.split This area are scroll jacked.
          .scrollable
            .scrollable__inner
              p: strong This area are not scroll jacked.
              img(src="https://picsum.photos/500/300/?random", alt="")
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non est cursus, congue libero sit amet, sodales quam. Sed ut malesuada nulla. Suspendisse id vestibulum felis. Nunc egestas, quam sed dignissim lobortis, mauris erat sollicitudin dui, ac faucibus nulla urna et sapien. Fusce non ultrices mi. Nunc lacinia, nibh ut elementum eleifend, massa lectus viverra justo, condimentum ornare odio ex id ex. Vivamus non vehicula tellus.

              p Praesent tincidunt fermentum tincidunt. Suspendisse nec congue mi. Proin lobortis enim erat, vitae bibendum risus condimentum vitae. Mauris nec vulputate dolor, vulputate pretium velit. Pellentesque tempor nulla quis semper vehicula. Donec non dui vel elit ultricies ultricies mattis ac mi. In ultrices risus ipsum, vitae vulputate arcu molestie eu. Aliquam erat volutpat. Vivamus sit amet diam pulvinar, tempus leo eu, maximus diam. Etiam in pretium odio. Nunc nibh mi, sollicitudin a turpis sed, tempor interdum dolor.

              p Sed vel eleifend dui. Sed vel vestibulum eros. Proin enim massa, pellentesque sagittis mollis eu, feugiat nec ex. Curabitur eget tortor at diam viverra efficitur vulputate et arcu. Donec id diam lobortis, interdum tortor a, egestas felis. In vel enim luctus, vestibulum diam sit amet, laoreet massa. Ut fringilla finibus tincidunt.

              p Aenean at diam finibus, commodo arcu vitae, maximus ex. Sed est enim, ornare sit amet consectetur et, aliquam non felis. Nunc sodales nec ligula ac imperdiet. Duis maximus interdum dolor, a eleifend magna aliquam sed. Fusce sollicitudin lorem felis. Praesent lobortis urna nec velit interdum ultricies. Praesent vel ante lorem. Quisque semper nunc nibh, eget vehicula tellus laoreet eget. Pellentesque dapibus ut mi a ultricies. Etiam id tortor erat. Vestibulum et placerat ex, et imperdiet tellus. Nunc ornare scelerisque magna a bibendum. Vivamus non bibendum est. Duis finibus enim lacinia ligula accumsan, quis iaculis nisl dictum. Suspendisse metus arcu, dictum ac elementum eu, porta at purus. Sed porttitor in dui at suscipit.

              p Aliquam volutpat eget mi sed finibus. Morbi cursus blandit finibus. Ut laoreet dui ligula, in rutrum nisi dignissim quis. Phasellus pretium sem sed massa hendrerit, ac tristique felis egestas. Nunc sed felis ullamcorper purus faucibus gravida. Sed risus ex, hendrerit ac lacus vel, pretium dictum risus. Praesent viverra vulputate est at semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi magna nulla, vehicula suscipit semper ac, viverra in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed enim leo, congue et tincidunt ac, aliquam vulputate orci.

              p Interdum et malesuada fames ac ante ipsum primis in faucibus. In vitae gravida lacus. Ut mollis, tellus eu suscipit posuere, libero orci imperdiet sapien, a porta ex nisl a justo. Nam condimentum viverra sem, ut rhoncus leo tincidunt in. Vivamus porta condimentum ligula eget tempor. Sed odio urna, sodales eu interdum quis, iaculis nec augue. Nunc neque urna, hendrerit in leo eget, luctus maximus mauris. Aenean venenatis elit ut mauris euismod laoreet. Sed sed viverra turpis, a lacinia tortor. Quisque sed euismod diam. Nullam dui est, facilisis ac tempor at, lobortis eget arcu.

              p Sed scelerisque metus nisi, sed feugiat metus sollicitudin at. Fusce malesuada ut urna in facilisis. Nullam pretium dictum est sed tincidunt. Maecenas faucibus iaculis ipsum, faucibus ultrices nibh tempus at. Cras vitae dapibus nulla. Donec convallis nunc vel ex interdum, sed auctor erat hendrerit. In hac habitasse platea dictumst. Cras volutpat cursus cursus. Fusce aliquet ac tortor sit amet placerat.

              p Maecenas ac risus maximus, auctor lorem nec, accumsan nunc. Duis eu ipsum non ipsum facilisis facilisis sed sit amet leo. Pellentesque at tempor mi. Pellentesque semper efficitur volutpat. Sed egestas hendrerit tincidunt. Etiam tincidunt dapibus elit, ac rutrum est convallis vitae. In a odio magna. Ut venenatis pretium libero nec vehicula. Integer quis libero vitae mi pretium vestibulum quis id nisi. Ut bibendum eleifend libero sit amet sagittis. Donec pulvinar blandit libero, in suscipit elit mattis eu. Quisque nec augue dolor. Nullam at sem lacus. Vivamus et ante dignissim felis accumsan elementum. Fusce eleifend tempus scelerisque. In rutrum, enim eu feugiat fermentum, magna purus placerat lectus, vel faucibus odio arcu quis ex.

              p Fusce vestibulum molestie tempus. Sed vel mollis est. In nec justo turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ac pretium ex. Phasellus at augue tellus. Sed dui mi, auctor eu auctor at, hendrerit nec nisi. Vivamus ullamcorper leo eget lacus molestie laoreet. Vivamus eu sagittis magna, ac dignissim magna. Suspendisse vulputate convallis urna, et convallis orci vestibulum sed. Nam tincidunt congue leo, vel vestibulum lorem tincidunt egestas. Nam ut velit elementum, suscipit est id, rutrum nunc. Donec eget nisi enim.

              p In eu malesuada diam. Nam mattis leo vitae nisl volutpat ornare. Etiam sit amet eros felis. Aenean tristique ex id elit pulvinar imperdiet. Nullam quis lectus at lorem varius sagittis vitae eget leo. Maecenas sem augue, accumsan eget purus ut, eleifend porttitor tellus. Etiam eu sem luctus, vulputate justo quis, finibus sem. Morbi aliquam metus sed dapibus viverra. Proin id rhoncus nunc. Quisque et sem eget est sagittis mattis vitae in lorem. Nulla varius porttitor ex non vehicula.
              img(src="https://picsum.photos/501/300/?random", alt="")
          .scrollhint
            .scrollhint__top
            .scrollhint__bottom
        .section.section-4
          p.split This area are scroll jacked.
          .scrollable
            .scrollable__inner
              p: strong This area are not scroll jacked.
              img(src="https://picsum.photos/499/300/?random", alt="")
              p Nullam posuere mauris eget magna rutrum feugiat. Sed dictum placerat ex nec rhoncus. Suspendisse potenti. Phasellus vestibulum ante mauris, et egestas ligula pulvinar sed. Duis mattis, dui sit amet lacinia porttitor, tellus justo sodales magna, ut feugiat urna tellus eu velit. Aliquam ac eleifend quam, ut accumsan erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit a nibh vehicula consectetur nec vitae odio. Aliquam erat volutpat. Aliquam placerat dignissim iaculis. Nullam pharetra eros nec mi ultricies porta. Integer nec suscipit metus, id elementum nisl. Phasellus consequat orci urna, sed venenatis lacus sollicitudin eu.

              p Morbi ut ipsum pretium, faucibus tortor sed, elementum diam. Donec commodo mi nec suscipit tempor. Ut efficitur sagittis libero id porttitor. Aliquam cursus lorem in hendrerit mollis. In porta, risus sed dapibus convallis, sem metus pulvinar justo, ac sodales sapien tellus quis risus. Morbi a lectus placerat, aliquet nisl ultrices, luctus tellus. Quisque non lacus eget nisi lobortis maximus vel et massa. Sed interdum tortor sed enim congue, a convallis nisi placerat. Mauris facilisis sodales est a tempor. Suspendisse et massa elit. Nullam quam diam, luctus at convallis non, rutrum eu odio. Cras et tellus erat. Pellentesque vitae congue libero. Ut justo massa, lacinia eget dictum quis, vehicula ac velit. Nunc massa felis, hendrerit a libero vitae, consectetur pulvinar odio. Sed et pretium dui, ac iaculis leo.

              p Etiam viverra odio eu massa hendrerit, sed mollis justo ultricies. Maecenas commodo et justo sit amet tempus. Suspendisse ut tincidunt ante. Vivamus bibendum ligula nec elementum varius. Nullam euismod sit amet justo a aliquet. Aliquam vel elit enim. Proin laoreet non velit eget maximus. Aliquam ac pharetra ipsum. Nulla facilisi. Donec a iaculis lectus. Donec et est sagittis, egestas lectus non, convallis neque. Vestibulum luctus ipsum nulla, nec euismod dolor mattis eget. Praesent non tincidunt arcu. Suspendisse pharetra quis eros et porta. Aliquam at tincidunt diam. Praesent odio sapien, tristique et euismod nec, rutrum quis nulla.

              p Maecenas varius augue libero, eget pretium sapien scelerisque eu. Integer in sagittis erat, vitae rutrum justo. Proin ultricies dui et ante porta commodo. Aenean tristique ante lacus, a pharetra eros lobortis ut. Praesent finibus, nisl ut hendrerit pulvinar, risus sapien congue erat, at egestas ante nulla a velit. Sed non mauris aliquet, aliquet nisl ut, bibendum mi. Etiam in libero at neque vulputate auctor. Pellentesque faucibus tortor nec erat fringilla varius. Pellentesque rutrum sapien nec nulla luctus commodo. Phasellus at aliquam tellus. Aenean consequat libero ut sapien consectetur tempor. Etiam quis nunc eu nisi tincidunt facilisis nec eu ante. Sed finibus ut mauris nec tristique. Praesent mollis ornare nulla vitae ullamcorper. Nulla mattis dignissim felis et euismod.

              p Nullam sit amet lorem in purus cursus sodales eget non metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in lorem id magna malesuada pharetra. Fusce quis imperdiet mauris. Curabitur auctor sagittis bibendum. Morbi et vehicula turpis. Ut volutpat ullamcorper mauris in ornare. Fusce ut tempor sem, et scelerisque orci. Quisque auctor augue a leo efficitur tincidunt. Donec eu elit convallis, consectetur augue ut, rhoncus erat. Nulla quam purus, suscipit non venenatis in, fermentum nec dui. Suspendisse semper, ligula efficitur condimentum blandit, nunc neque pharetra tellus, non hendrerit ligula orci in dui. Suspendisse sodales, nunc nec bibendum ornare, lacus sem viverra dui, id elementum ante nunc a neque. Mauris eu pharetra leo, eu gravida dui. Aenean quis ex nec nisl laoreet efficitur id sit amet est.

              p Suspendisse arcu neque, suscipit in convallis et, scelerisque id nisl. Nunc aliquet aliquet tortor vitae feugiat. Sed mauris neque, volutpat tincidunt libero a, consectetur placerat diam. Fusce eget varius metus. Cras nec risus luctus, ultrices quam ut, dictum purus. Maecenas sed ipsum interdum, consequat diam ut, lacinia leo. Vestibulum laoreet ex quis nisl feugiat, eu pellentesque sem suscipit. Vestibulum nulla massa, dictum rutrum tortor non, semper egestas nibh.

              p In hac habitasse platea dictumst. Vestibulum suscipit neque magna, id commodo eros laoreet eu. Nulla quis sem fringilla, tincidunt magna eget, laoreet magna. Morbi tempor mi sit amet orci ullamcorper vehicula. Cras elementum turpis pellentesque, pellentesque massa ut, aliquet quam. Ut sem risus, facilisis id sem at, bibendum malesuada ex. Proin sed ante enim. Nam tristique nunc et elit porta, vel dignissim lacus tincidunt. Integer ante orci, dapibus vel maximus ac, cursus sit amet ipsum. Integer rhoncus congue dui, id aliquet elit fringilla sed. Proin at eros at urna elementum rutrum ut tincidunt dolor. Duis efficitur tellus ac rhoncus iaculis. Etiam sit amet rhoncus mauris, id lacinia lectus. Suspendisse potenti. Etiam sed enim sit amet massa tristique ultrices. Maecenas sit amet dapibus nulla.

              p Duis nec tortor ante. Vivamus varius efficitur massa at placerat. Integer facilisis nisi porttitor, dignissim erat id, ultrices ipsum. Suspendisse potenti. Curabitur urna sem, rutrum vitae vulputate ut, feugiat id ante. Pellentesque sagittis mollis leo, sed lacinia odio rhoncus eu. In iaculis facilisis lorem, at gravida ligula euismod id. Nam ut nunc ut nisi venenatis consectetur. Ut egestas ligula sit amet dui ullamcorper euismod. Morbi condimentum lacus id felis laoreet, sed ullamcorper erat efficitur. Integer sit amet est massa.

              p Etiam luctus euismod velit non scelerisque. Fusce luctus mi nec congue auctor. Curabitur dignissim nec massa quis blandit. Integer porttitor condimentum varius. Proin volutpat ornare magna, a imperdiet sem porta sed. Quisque in lacinia velit, in dictum tellus. Quisque fringilla nisl non dictum vestibulum. In et semper diam, a congue augue.

              p Fusce consectetur aliquam mi vitae tincidunt. Etiam non orci in ipsum hendrerit ultrices. Morbi convallis eleifend aliquam. Nam non iaculis quam. Phasellus ullamcorper nibh velit, at ullamcorper neque bibendum at. Etiam et ante nec erat lacinia volutpat rhoncus vel erat. Mauris dui arcu, varius eu nibh rhoncus, luctus rhoncus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis urna, interdum nec diam sit amet, rutrum aliquam lorem. Pellentesque consectetur a nisi in aliquet. Maecenas tincidunt viverra interdum. Vestibulum congue, felis et varius pretium, neque lectus pretium mauris, vel lobortis metus lectus id sem. Quisque et quam enim. Praesent feugiat lorem interdum nunc facilisis, quis volutpat lorem luctus. Morbi massa justo, venenatis nec nisl sit amet, congue convallis nisi.

              p Vivamus metus est, auctor a eleifend quis, sodales id justo. Integer ornare suscipit mauris, ac suscipit nulla varius ut. Donec egestas pharetra lorem, sed sagittis mi. Vestibulum ullamcorper leo magna, ut faucibus orci euismod ut. Donec laoreet purus elit, facilisis maximus metus euismod at. Vestibulum at nunc eu nibh commodo posuere. Suspendisse ultricies aliquam leo, sed rhoncus odio luctus in. Vivamus eros purus, mattis sit amet malesuada sed, congue a neque. Maecenas ac ex sit amet elit luctus iaculis eu at lectus. Donec tortor augue, aliquam vitae dapibus nec, accumsan sed tellus. Donec a velit lacinia, pellentesque felis hendrerit, finibus odio. Etiam dolor dui, aliquet at tempus sit amet, pretium luctus lectus. Mauris in consectetur dui. Cras vel nibh eu mauris ornare euismod laoreet et risus.
              img(src="https://picsum.photos/500/299/?random", alt="")
          .scrollhint
            .scrollhint__top
            .scrollhint__bottom
      footer.section.section-5
        p
          | NEVER Scroll Jack.
          br
          a(href="https://github.com/oti/scroll-in-scroll-jack") https://github.com/oti/scroll-in-scroll-jack
